<h3>Demo2 - TagHelper</h3>
<hello></hello>
<br />
<hello/>
<br/>
<hi fullName="NguyenHoangKhai"></hi>
<br />
<hi fullName="NguyenHoangKhai" />
<br />
<add a="4" b="4"/> 
<br/>
@*<category></category>*@
@*<br />
<category/>*@
@*<category amount="3"/>*@
<latestProduct amount="3"/>