<h2>Login</h2>

<lable style="color:red">@TempData["msg"]</lable>
<form method="post" asp-controller="account" asp-action="login">
    UserName <input type="text" name="username" />
    <br />
    Password <input type="password" name="password" />
    <br/>
    <input type="submit" value="Login" />
    <br/>
    <a asp-controller="account" asp-action="register">Register Now</a>
    <a asp-controller="account" asp-action="forgetPassword">Forget Password</a>
</form>