<h2>
    Student List
</h2>
<h3>Inport CSV</h3>
<form method="post" asp-controller="student" asp-action="import" enctype="multipart/form-data">
    File <input type="file" name="file"/>
    </br>
    <input type="submit" value="Import"/>
</form>