<h2>Demo 2 - Index</h2>
<a asp-controller="demo2" asp-action="index4">Menu 1</a> | 
<a asp-controller="demo2" asp-action="index2" asp-route-id="123">Menu 2</a> |
<a asp-controller="demo2" asp-action="index3" asp-route-id="456" asp-route-username="nguyenhoangkhai">Menu 3</a> |
<a asp-controller="demo2" asp-action="index5" asp-route-id="789" asp-route-username="khaihoangnguyen">Menu 4</a>