<h2>Form Login</h2>

<form method="post" asp-controller="account" asp-action="login">
    UserName <input type="text" name="userName"  />
    </br>
    PassWord <input type="text" name="password" />
    </br>

    <input type="submit" value="Search" />

</form>