@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/css/Style.css" rel="stylesheet"/>
}
<h3 class="format">Home Page</h3>

<a asp-area="admin" asp-controller="invoice" asp-action="index">Invoice Admin</a> |
<a asp-area="user" asp-controller="comment" asp-action="index">Comment User </a>