@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Contact Page</h3>
<a asp-controller="contact" asp-action="contact1">Contact 1 </a> |
<a asp-controller="contact" asp-action="contact2">Contact 2 </a>

<br />
@RenderBody()