@model DemoSession1_MVC.Models.Question
<h2>Question And Answer </h2>
<form method="post" asp-controller="question" asp-action="save">
    <ol>
        @foreach (var ques in ViewBag.question)
        {

          
            <li>
                @ques.Content
                <ol>
                    @foreach (var answer in ques.Answers)
                    {
                        <input type="radio" name="question_@ques.Id" value="@answer.Id" />

                        @answer.Content
                        <br />
                    }
                </ol>
            </li>
            <br />
        }
    </ol>



    <button value="Save">Save</button>
</form>